
@{
    ViewData["Title"] = "Example";
}

<h2>Example</h2>

<p>
    To use, modify the query string to include a mathematical operation. e.g. ?operation=1plus1
</p>

<p>
    <center>
        <font size=7>
            @ViewData["Message"]
        </font>
    </center>
</p>
