[submodule "FiftyOne.Pipeline.Elements/FiftyOne.Pipeline.JavaScriptBuilderElement/Templates/javascript"]
	path = FiftyOne.Pipeline.Elements/FiftyOne.Pipeline.JavaScriptBuilderElement/Templates/javascript
	url=../javascript
[submodule "ci/common-ci"]
	path = ci/common-ci
url=../common-ci